<div data-control="toolbar">
    <a
        href="<?= Backend::url('keios/simplemenu/childeditor/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= trans('keios.simplemenu::lang.strings.newchild'); ?>
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('keios.simplemenu::lang.strings.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
</div>