<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('keios/simplemenu/childeditor') ?>"><?= trans('keios.simplemenu::lang.strings.childeditor'); ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('keios/simplemenu/childeditor') ?>" class="btn btn-default"><?= trans('keios.simplemenu::lang.strings.returntochildren'); ?></a></p>

<?php endif ?>