<nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header navbar-header-top">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon icon-2x icon-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav">
                {% for menu in __SELF__.simpleMenu %}
                {% if menu.is_parent %}
                <li class="hvr-glow dropdown">
                    <a href="#" class="menu-icon dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa {{ menu.icon_class }}"></i>

                        <p>{{ menu.title|_ }} <span class="caret"></span></p>
                    </a>
                    <ul class="dropdown-menu">
                        {% for child in menu.children %}
                        {% if child.menu_id == menu.id %}
                        <li {% if this.page.url=='{{ child.url }}' %}class="active"{% endif %}>
                        <a href="{{ child.url }}" {% if child.target_blank %}target="_blank" {% endif %}>
                            <i class="{{ child.icon_class }}"></i> {{ child.title|_ }}
                        </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="hvr-glow {% if this.page.url == '{{ menu.url }}' %}active{% endif %}">
                    <a class="menu-icon" href="{{ menu.url }}" {% if menu.target_blank %}target="_blank" {% endif %}>
                        <i class="fa {{ menu.icon_class }}"></i>

                        <p>{{ menu.title|_ }}</p>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>