<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('keios/simplemenu/menugroup') ?>"><?= trans('keios.simplemenu::lang.strings.menugroup'); ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving MenuGroup..."
                    class="btn btn-primary">
                    <?= trans('keios.simplemenu::lang.strings.save'); ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving MenuGroup..."
                    class="btn btn-default">
                    <?= trans('keios.simplemenu::lang.strings.saveandclose'); ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting MenuGroup..."
                    data-request-confirm="Do you really want to delete this menugroup?">
                </button>
                <span class="btn-text">
                    <?= trans('keios.simplemenu::lang.strings.or'); ?> <a href="<?= Backend::url('keios/simplemenu/menugroup') ?>"><?= trans('keios.simplemenu::lang.strings.cancel'); ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('keios/simplemenu/menugroup') ?>" class="btn btn-default"><?= trans('keios.simplemenu::lang.strings.returnmenugroups'); ?></a></p>

<?php endif ?>